<html>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawSeriesChart1);
    google.charts.setOnLoadCallback(drawSeriesChart2);
    google.charts.setOnLoadCallback(drawLineChart1);
    function drawSeriesChart1() {

      var data = google.visualization.arrayToDataTable([
        ['ID', 'Date', 'eGFR', 'Creatinina', 'Emoglobina'],
        ['31Jan', 1, 50, 1.29, 10.5],
        ['1Mar', 2, 54, 1.2, 12.6],
        ['4Jun', 3, 41, 1.5, 11.7],
        ['11Jul', 4, 39, 1.57, 10.4],
        ['26Jul', 5, 48, 1.33, 11.6],
        ['14Aug', 6, 45, 1.39, 12],
        ['25Sep', 7, 43, 1.45, 12.8],
        ['16Oct', 8, 46, 1.38, 11.8],
        ['12Nov', 9, 41, 1.5, 11],
        ['4Dec', 10, 44, 1.41, 11.3]
      ]);

      var options = {
        title: 'Ralationship between eGFR, Creatinina and Emoglobina for 2018. ',
        colorAxis: { colors: ['yellow', 'red'] },
        hAxis: { title: 'Date' },
        vAxis: { title: 'eGFR' },
        bubble: { textStyle: { fontSize: 11 } }

      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }


    function drawSeriesChart2() {

      var data = google.visualization.arrayToDataTable([
        ['ID', 'Date', 'eGFR', 'Creatinina',],
        ['31Jan', 1, 50, 1.29,],
        ['1Mar', 2, 54, 1.2,],
        ['4Jun', 3, 41, 1.5,],
        ['11Jul', 4, 39, 1.57,],
        ['26Jul', 5, 48, 1.33,],
        ['14Aug', 6, 45, 1.39,],
        ['25Sep', 7, 43, 1.45,],
        ['16Oct', 8, 46, 1.38,],
        ['12Nov', 9, 41, 1.5,],
        ['4Dec', 10, 44, 1.41,]
      ]);

      var options = {
        title: 'Relationship between eGFR, Creatinina and Emoglobina for 2018.',
        colorAxis: { colors: ['yellow', 'red'] },
        hAxis: { title: 'Date' },
        vAxis: { title: 'eGFR' },
        bubble: { textStyle: { fontSize: 11 } }

      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div2'));
      chart.draw(data, options);
    }

    function drawLineChart1() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Visit');
      data.addColumn('number', "Creatinina");
      data.addColumn('number', "eGPR");

      data.addRows([
      [1, 50, 1.29,],
        [ 2, 54, 1.2,],
        [ 3, 41, 1.5,],
        [ 4, 39, 1.57,],
        [ 5, 48, 1.33,],
        [ 6, 45, 1.39,],
        [ 7, 43, 1.45,],
        [ 8, 46, 1.38,],
        [ 9, 41, 1.5,],
        [ 10, 44, 1.41,]
      ]);

      var materialOptions = {
        chart: {
          title: 'Average Temperatures and Daylight in Iceland Throughout the Year'
        },
        width: 900,
        height: 500,
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: { axis: 'Creatinina' },
          1: { axis: 'eGPR' }
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            Temps: { label: 'Creatinina (measure)' },
            Daylight: { label: 'eGPR' }
          }
        }
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('chart_line_div'));
      chart.draw(data, materialOptions);

    }
  </script>
  </head>
      <body>


      </body>
</html >
