{%extends 'main.html'%} {%block content%}
<!-- PARALLEL AXIS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.js"></script>

<div id="blood-test-container">
    <h4 class="parallel-graph-title">Blood Tests</h4>
    <div id="blood-test-parallel-axis" style="width: 100%;height: 700px;"></div>
</div>

<!-- ECharts script to create blood test parallel axis -->
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('blood-test-parallel-axis'));

    var blood_test_data = [
        [1.75, 179, 0.3, 10.5, 1.29, 50.0, 1303, 12.8, 5.5],
        [1.61, 120, 0.2, 11.6, 1.33, 48.0, 565, 9.2, 5.5],
        [2.21, 79, 0.06, 12.6, 1.2, 54.0, 299, 5.87, 5.5],
        [2.21, 79, 0.06, 12.6, 1.2, 54.0, 299, 5.87, 6.0],
        [2.13, 78, 0.06, 11.7, 1.5, 41.0, 641, 3.62, 6.0],
        [2.46, 100, 0.4, 11.9, 1.41, 45.02, 489, 1.45, 6.0],
        [1.54, 108, 0.06, 10.4, 1.57, 39.0, 788, 2.89, 5.0],
        [1.24, 90, 0.06, 12.0, 1.39, 45.0, 862, 2.21, 5.5],
        [1.78, 87, 0.1, 12.8, 1.45, 43.0, 371, 1.87, 6.0],
        [1.32, 97, 0.4, 11.8, 1.38, 46.0, 556, 1.97, 6.5],
        [1.45, 111, 0.06, 10.9, 1.5, 41.0, 620, 2.24, 5.0],
        [1.61, 120, 0.3, 11.3, 1.41, 44.0, 340, 2.77, 5.0]
    ];

    var lineStyle = {
        normal: {
            width: 2,
            opacity: 0.7,
            color: '#FF4136'
        },
    };

    var option = {
        color: [
            '#FF4136'
        ],
        
        legend: {
            top: 10,
            data: ['Show/Hide Data'],
        },
        parallelAxis: [
            {dim: 0, name: 'Linfociti'},
            {dim: 1, name: 'Creatinchinasi'},
            {dim: 2, name: 'Proteina C-reattiva'},
            {dim: 3, name: 'Emoglobina'},
            {dim: 4, name: 'Creatinina'},
            {dim: 5, name: 'eGFR'},
            {dim: 6, name: 'NT proNBP'},
            {dim: 7, name: 'TSH'},
            {dim: 8, name: 'pH'},
        ],
        parallel: {
            top: '30%',
            left: '5%',
            right: '8%',
            
            parallelAxisDefault: {
                type: 'value',
                nameRotate: 25,
                nameGap: 25,

                nameTextStyle: {
                    fontSize: 14
                },
                axisTick: {
                    show: true
                },
                splitLine: {
                    show: true
                },
                nameLocation: 'end',
            }

        },
        series: [
            {   
                name: 'Show/Hide Data',
                type: 'parallel',
                lineStyle: lineStyle,
                data: blood_test_data
            },

        ]
    };

    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>


{%endblock%}